.five-day-weather-header {
  font-size: 50px;
}

.searched-cities {
    display: flex;
    flex-direction: column;
}
  
.day {
    background: #000000;
    color: white;
    list-style: none;
    padding: 20px;
}

.five-day-weather {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.current-weather ul {
    list-style: none;
    border: 5px solid;
}

 header {
    background: #1a2846;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}